<h1>About</h1>
<p>Welcome to My App</p>


<%= link_to "Click Me", "javascript:void(0);", class: "btn btn-primary" %>
<br><br>
<form>
  <input type="text" class="input-something">
</form>
<div id="thisDiv">Hello:</div>
