<p> Hello <%= @owner.full_name %>,</p>

<p> You've gotten an answer to your question:</p>

<p>Question title: <%= @question.title %></p>
<p>The Answer: <%= @answer.body %></p>

<%= link_to "Click Here to View the Question", question_url(@question) %>

<p>Regards,</p>
<p>Awesome Answer Team</p>
